<footer class="footer bg-dark pt-4 mt-5">
    <div class="container text-muted">
        <p>
            &copy; YelpCamp<sup>IN</sup> 2022
            <br>
            <small>
                This project is made by
                <a href="https://github.com/roko123477" target="_blank">
                    Rohit Koner</a> on October - November 2022.
                Most photos are random from
                <a href="https://unsplash.com/collections/483251/in-the-woods" target="_blank">Unsplash</a>.
            </small>
        </p>
    </div>
</footer>